{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h3 class="col-md-12 page-header bold-flare">
                        SetUp Market
                    </h3>
                    <div class="box-body">
                        <form action="" method="post" class="form" role="form">

                            <div class="row">
                                <div class="form-group col-sm-4">
                                    {{ wtf.form_field(form.marketname, class='form-control',
                                    placeholder='Name') }}
                                </div>
                                <div class="form-group col-sm-4">
                                    {{ wtf.form_field(form.marketcode, class='form-control',
                                    placeholder='Code') }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row -->
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}